In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
myindex=['USA', 'Canada', 'Mexico']

In [4]:
mydata = [1776, 1867, 1821]

In [7]:
myser = pd.Series(data=mydata, index=myindex)

In [8]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [9]:
myser[0]

C:\Users\HP\AppData\Local\Temp\ipykernel_9040\3030946548.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0]

1776

In [10]:
myser['USA']

1776

In [11]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [14]:
names=pd.Series(ages)

In [15]:
names

Sam       5
Frank    10
Spike     7
dtype: int64

In [17]:
KKK=names['Frank']

In [18]:
KKK

10

In [19]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [20]:
sales_q1 = pd.Series(q1)

In [21]:
sales_q2 = pd.Series(q2)

In [22]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [23]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [24]:
sales_q1['Japan']

80

In [25]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [26]:
[1, 2]*2

[1, 2, 1, 2]

In [27]:
np.array([1, 2])*2

array([2, 4])

In [28]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [29]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [30]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [31]:
sales_q1.dtype

dtype('int64')

In [32]:
first_half=sales_q1.add(sales_q2, fill_value=0)

In [33]:
first_half.dtype

dtype('float64')