In [2]:
import numpy as np
import pandas as pd

In [3]:
email = 'jose@gmail.com'

In [4]:
email.split('@')

['jose', 'gmail.com']

In [9]:
email.isdigit()

False

In [10]:
'5'.isdigit()

True

In [6]:
names = pd.Series(['andrew', 'bobo', 'claire', 'david', '5'])

In [7]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [8]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [11]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [12]:
tech_finance = ['GOOG,APPL,AMZN', 'JPM,BAC,GS']

In [13]:
len(tech_finance)

2

In [14]:
tickers = pd.Series(tech_finance)

In [15]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [16]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [17]:
tech = 'GOOG,APPL,AMZN'

In [18]:
tech.split(',')

['GOOG', 'APPL', 'AMZN']

In [19]:
tech.split(',')[0]

'GOOG'

In [20]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [21]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [22]:
messy_names = pd.Series(['andrew ', "bo;bo", "   claire  "])

In [23]:
messy_names

0        andrew
1          bo;bo
2       claire
dtype: object

In [24]:
messy_names[0]

'andrew '

In [33]:
messy_names.str.replace(';','').str.strip()

0    andrew
1      bobo
2    claire
dtype: object

In [34]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [37]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [38]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object